:host {
  display: block;
}

mat-toolbar {
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  button {
    flex-shrink: 0;
    margin-left: 0.5rem;
    
    mat-icon {
      font-size: 24px;
      width: 24px;
      height: 24px;
      margin-right: 0.5rem;
    }
  }
}
